.recipe-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 40px;
  margin-left: 0px;
}

.recipe-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  width: 100%;
  max-width: 250px;
}

.recipe-card:hover {
  transform: translateY(-2px);
}

.recipe-image img {
  height: 150px;
  width: 100%;

  display: block;
  border: 1 px solid black;
}

.recipe-card h3 {
  margin: 15px;
  font-size: 15px;
  color: #4d2c3d;
  text-decoration: none;
}
.recipe-type {
  margin: 3px 0px 0px 0px;
  font-size: 13px;
  color: #3b3237;
  text-align: left;
  padding-right: 3px;
}
.recipe-info-diet {
  margin: 0 10px 5px 10px;
  font-size: 14px;
  color: #070707;
  text-align: left;
  /* border-bottom: 0.8px solid #ddd; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recipe-cat {
  margin-right: 3px;
  text-align: right;
}

.recipe-info {
  margin: 0 10px 15px 10px;
  font-size: 13px;
  color: #4a6a50;
  border-top: 0.8px solid #4a6a50;
  padding-top: 5px;
  padding-bottom: 15px;
}
.recipe-info span {
  margin-right: 10px;
}
.page-layout {
  display: flex;
  width: 100%;
  height: auto;
}

.left-side {
  margin: 20px;
  margin-top: 70px;
  text-align: left;
  width: 27%;
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
  margin-right: 70px;
}

.right-side {
  width: 100%;
  background-color: #fff;
  padding: 0px;
  box-sizing: border-box;
}

/* .filter-menu {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
} */

.filter-menu h2 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.filter-group {
  margin-bottom: 20px;
}

.filter-group h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.filter-group ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-group li {
  margin-bottom: 10px;
}

.filter-group input {
  margin-right: 10px;
}

.filter-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4d2c3d;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 10px;
}

.filter-button:hover {
  background-color: #3b2130;
}
.recipeform-radio-btn {
  width: 13px;
  height: 13px;
  border: 1px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  background-color: #f0f0f0;
  appearance: none;
  margin-top: 3px;
  margin-left: 20px;
}

.recipeform-radio-btn:checked {
  background-color: #97a999;
  border-color: rgb(97, 135, 122);
}
