.recipe-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin: 40px;
}

.recipe-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  width: 100%;
  max-width: 200px;
}

.recipe-card:hover {
  transform: translateY(-2px);
}

.recipe-image img {
  height: 150px;
  width: 100%;
  max-width: 220px;
  display: block;
  border: 1 px solid black;
}

.recipe-card h3 {
  margin: 15px;
  font-size: 15px;
  color: #4d2c3d;
}
.recipe-type {
  margin: 3px 0px 0px 0px;
  font-size: 12px;
  color: #4d2c3d;
  text-align: left;
}
.recipe-info {
  margin: 0 15px 15px;
  font-size: 13px;
  color: #4a6a50;
  border-bottom: 0.8px solid #4a6a50;
  border-top: 0.8px solid #4a6a50;
}

.recipe-info span {
  margin-right: 10px;
}
.page-layout {
  display: flex;
  width: 100%;
  height: auto;
}

.left-side {
  margin: 20px;
  text-align: left;
  width: 16%;
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
}

.right-side {
  width: 80%;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.filter-menu {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
}

.filter-menu h2 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.filter-group {
  margin-bottom: 20px;
}

.filter-group h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.filter-group ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-group li {
  margin-bottom: 10px;
}

.filter-group input {
  margin-right: 10px;
}

.filter-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4d2c3d;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #3b2130;
}
