.p-15 {
  background: #fff;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: auto;
}
.ingerdient-allergen-list {
  display: grid;
  grid-template-columns: 200px auto;
  align-items: center;
  gap: 10px;
}
.p-15-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.p-15-title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 70px;
}

.p-15-title-section h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
}

.p-15-icons {
  margin-right: 70px;
}

.p-15-icons button {
  background: #4a6a50;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  margin-right: 10px;
  color: #f7f6f6;
}

.p-15-icons button:hover {
  background: #555;
  color: #f0f0f0;
}

.p-15-tags {
  display: flex;
  gap: 10px;
  margin: 0 0 0 70px;
}

.p-15-tags span {
  display: inline-block;
  background: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

.p-15-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
  color: #555;
  margin: 0 0 0 70px;
}

.p-15-details span {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #4a6a50;
}

.p-15-rating {
  color: #f4b400;
  font-weight: bold;
}
.p-15-rating span {
  color: #4a6a50;
  margin-right: 6px;
}
.P-15-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
  flex-wrap: nowrap;
  background-color: #f6f6f6;
  height: 400px;
}
.P-15-text-container-setion {
  width: 48%;
  padding: 16px;
  margin-top: 0px;
  padding: 0px;
  padding-top: 20px;
  /* width: 45%;
  padding: 40px; */
}
.P-15-text-container-setion h2 {
  text-align: left;
  padding-left: 70px;
}
.P-15-text-container-setion p {
  padding-left: 70px;
}
.P-15-text-container,
.P-15-image-container {
  /* width: 100%; */
  padding: 0px;
  margin-top: 0px;
}
.P-15-text-container {
  /* padding-top: 20px; */
}
.p15-category-date {
  margin-top: 0;
  padding: 0;
}

.p15-category-date h6 {
  margin-top: 0;
  padding: 0;
  font-size: 8px;
}
.p15-category-date span {
  margin-right: 20px;
  font-size: 10spx;
}
.P-15-text-container h2 {
  text-align: left;
  padding-left: 70px;
}
.P-15-text-container p {
  padding-left: 70px;
}

.P-15-image-container img {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 450px;
}
.ingredients-list {
  list-style-type: none;
  padding: 0;
  margin: 60px 0 0 40px;
  text-align: left;
}

.ingredients-list li {
  padding: 5px;
  font-size: 14px;
}

.ingredients-list li:nth-child(even) {
  background-color: #f1e5e5;
}

.P-15-row-h {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  background-color: #fefcfc;
}

.P-15-row-h .P-15-text-container {
  width: 45%;
  padding: 40px;
}

.P-15-text-container-text h3 {
  margin-bottom: 10px;
  font-weight: bold;
  margin-top: 20px;
  text-align: left;
  padding-left: 10px;
}

.P-15-text-container-text p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
}
.P-15-text-container-text {
  width: 45%;
  padding-left: 10px;
}

/* ----------------------- */
.nutritional-info {
  margin: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: 99px;
}

.nutritional-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px 5px;
}

.nutritional-header h2 {
  margin: 0;
  font-size: 1rem;
}

.nutritional-score {
  display: flex;
  align-items: center;
  gap: 10px;
}

.score-indicator {
  width: 20px;
  height: 20px;
  background-color: #4caf50;
  border-radius: 50%;
}

.nutritional-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nutritional-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.nutritional-item h3 {
  margin: 0;
  font-size: 14px;
}

.nutritional-item p {
  margin: 0;
  font-size: 14px;
}

/* Hauptcontainer */
.nutritional-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.nutritional-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.nutritional-column {
  flex: 1;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #f0f0f0;
  box-sizing: border-box;
}

.nutritional-header {
  background-color: #4a6a50;
  color: white;
}

.green {
  background-color: #90ee90;
  color: black;
}

@media print {
  /*  unwichtige elements */

  button,
  .P-15-text-container-setion,
  .nutritional-info,
  .RecipePlanner,
  .profile-feedback-btn,
  .feedback-form,
  .popup-feedback-recipeD {
    display: none;
  }

  .P-15-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    flex-wrap: nowrap;
    background-color: #f6f6f6;
    height: 400px;
  }
  .P-15-image-container {
    width: 48%;
    padding: 16px;
    margin-top: 0px;
    padding: 0px;
  }
  .P-15-image-container img {
    width: 400px;
    height: 300px;
    padding-left: 200px;
    padding-bottom: 20px;
    border: 0px solid;
    box-shadow: 0 px;
  }
  .P-15-text-container {
    width: 1300px;
    margin: 50px;
    padding: 40px;
  }
  .P-15-text-container-text p {
    width: 80%;
    margin: 50px;
  }
  .P-15-text-container-text h3 {
    margin-top: 130px;
  }
}

@media (max-width: 768px) {
  .P-15-row,
  .P-15-row-h {
    flex-direction: column;
  }
  .P-15-text-container,
  .P-15-image-container {
    width: 100%;
  }

  .P-15-text-container-text p {
    font-size: 14px;
  }
  .P-15-text-container-text {
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 14px;
  }
  .ingerdient-allergen-list {
    grid-template-columns: 1fr;
    gap: 5px;
  }
  .P-15-image-container img {
    max-width: 100%;
    margin: 0 auto;
    max-height: 100px;
  }

  .p-15-title-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .p-15-icons {
    margin-top: 10px;
  }
  .ingredients-list {
    margin: 0px;
    padding: o;
  }
  .nutritional-grid {
    display: non;
    gap: 0;
  }
  .container {
    padding: 0;
  }

  .row {
    flex-direction: row;
  }

  .column {
    width: 100%;
    margin-bottom: 10px;
  }
  .nutritional-header {
    flex-direction: column;
    text-align: center;
  }

  .nutritional-item {
    flex-direction: column;
    text-align: center;
  }
  .nutritional-info {
    min-width: 280px;
    margin-left: auto;
    margin-right: 99px;
  }
  .nutritional-item h3,
  .nutritional-item p {
    font-size: 14px;
  }
  .P-15-text-container-setion {
    display: none;
  }

  .p-15-tags {
    margin: 0px;
    justify-content: center;
  }
  .p-15-tags span {
    font-size: 12px;
  }
  .P-15-row-h {
    padding: 0;
    width: 100%;
    margin: 0;
    font-size: 14px;
  }
}
@media (min-width: 767px) {
  .P-15-image-container {
    width: 50%;
  }
}
