/* .navbar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  border-bottom: 1px solid #ddd;
  min-width: 1200px;
  width: 100%;

} */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
  width: 100%;
  background-color: rgb(247, 244, 244);
  box-sizing: border-box;
  margin-bottom: 0px;
}
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4a6a50;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navbar-links a:hover {
  color: #4a6a50;
}
