.bmi-container {
  display: flex;
  margin: 0 auto;
  color: #2c2929;
}

.bmi-image-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.bmi-result h3 {
  color: #ffffff;
}

.bmi-image {
  width: 100%;
  min-width: 550px;
  border-radius: 0px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.bmi-input-section {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bmi-input-section label {
  font-size: 0.9em;
  float: left;
  margin-bottom: 8px;
  color: #121212;
  text-align: left;
  padding-left: 6px;
}

.bmi-input-section input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 15px;
  flex: 1;
}

.bmin-gender-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.bmi-radio-label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.8em;
}

.bmi-radio-label span {
  margin-bottom: 11px;
}

.bmi-radio-btn {
  width: 13px;
  height: 13px;
  border: 1px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  background-color: #f0f0f0;
  appearance: none;
}

.bmi-radio-btn:checked {
  background-color: #97a999;
  border-color: rgb(97, 135, 122);
}

.bmi-input-field {
  width: 540px;
  padding: 0px;
  flex-direction: column;
  margin-top: 15px;
  display: flex;
  box-sizing: border-box;
}

.bmi-input-field label {
  margin-bottom: 8px;
}

.bmi-input-field input {
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
}

.bmi-input-field-time label {
  font-size: 0.9em;
  float: left;
}

.bmi-content-section {
  flex: 2;
  padding: 20px;
}

.bmi-content-section h2 {
  font-size: 24px;
  color: #555;
  margin-bottom: 20px;
}

.bmi-content-section p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.bmi-result {
  margin-top: 40px;
  background-color: #4e7c58;
  border-bottom: 5px solid #090909;
  padding-top: 0.5px;
}

.bmi-result h2 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #f6f4f4;
}

.bmi-value {
  font-size: 30px;
  font-weight: bold;
  color: #121212;
}

.bmi-comment {
  font-size: 16px;
  color: #f6f4f4;
}

.bmi-btn-submit {
  width: 100%;
  padding: 12px;
  background-color: #4a6a50;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
}

.bmi-btn-submit:hover {
  background-color: #3b222f;
}

@media (max-width: 768px) {
  .bmi-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .bmi-image-section {
    padding: 10px;
    width: 100%;
  }

  .bmi-image {
    min-width: auto;
    width: 100%;
    height: auto;
  }

  .bmi-input-section {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
  }

  .bmi-input-field {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .bmi-input-field input {
    width: 100%;
    padding: 10px;
  }

  .bmi-btn-submit {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 15px;
  }

  .bmi-content-section {
    width: 100%;
    padding: 15px;
  }

  .bmi-content-section h2 {
    font-size: 20px;
    text-align: center;
  }

  .bmi-content-section p {
    font-size: 14px;
    line-height: 1.4;
    text-align: justify;
  }

  .bmi-result {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    text-align: center;
  }

  .bmi-value {
    font-size: 24px;
  }
  .bmin-gender-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: nowrap;
    margin-bottom: 15px;
  }

  .bmi-radio-label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1em;
    text-align: left;
  }
}
