/* .navbar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  border-bottom: 1px solid #ddd;
  min-width: 1200px;
  width: 100%;

} */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
  width: 100%;
  background-color: rgb(15, 14, 14);
  box-sizing: border-box;
  margin-bottom: 0px;
}
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fcfefc;
}
.navbar-herz {
  max-width: 20px;
}
.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
.navbar-links button {
  background-color: black;
  border: 2px solid #4a6a50;
  color: #f2efef;
  font-weight: 500;
}
.navbar-links button:hover {
  background-color: rgb(95, 94, 94);
  border: 2px solid #4a6a50;
  color: #f2efef;
}
.navbar-links a {
  text-decoration: none;
  color: #f2efef;
  font-weight: 500;
}

.navbar-links a:hover {
  color: #4a6a50;
}
